
@import '../../../node_modules/@bcgov/bc-sans/css/BCSans.css';

body { 
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #EEE, #AAA);
}

h1 {
     font-size: 50px;
     }
body { 
    color: #333; }
article {
     font-size: 20px;
     font-family: BCSans Verdana, sans-serif;
     display: block; 
     text-align: left; 
     width: 650px;
     margin: auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }